html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

body {
    color: #323232;
    background: #eeefed;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 100px;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu li {
    float: left;
}

.fa {
    vertical-align: middle;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 1.25em;
}

.contact-bar,
.personal {
    color:#ffffff;
}

.contact-bar {
    background: lightgreen;
    font-size: 0.8em;
}

.personal {
    margin: 2em 0;
    float: left;
    width: 60%;
}

.personal li:first-child {
    margin-right: 10.46%;
}

.date {
    margin: 2em 0;
    float: right;
}

.nav-bar {
    background: #ddfff8;
}

.logo {
    float: left;
}

.logo a {
    display: block;
    background: url("../img/rsz_1upravenelogo.png") 0 0 no-repeat;
    width: 124px;
    height: 127px;

}

.navigation {
    float: right;
    margin-right: 1.3em;
}

.navigation .fa {
    display: block;
    padding-bottom: 10px;
}

.navigation li {
    width: 25%;
}

.navigation a {
    color: #a6a6a6;
    display: block;
    width: 100%;
    padding: 3.35em 0;
    text-align: center;
    width: 8.5em;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
    color: blueviolet;
}

.text-center {
    text-align: center;
}

.post-header {
    background: url("../img/pozadie.jpg") center -450px no-repeat;
}

.post-title {
    color: #fff;
    font-size: 2.8em;
    font-weight: 600;
    background: blueviolet;
    padding: 0.4em 1.05em;
    border-radius: 0.15em;
    display: inline-block;
    letter-spacing: 0.05em;
    margin: 1em 0;
}

.post-content {
    padding: 2em 0 8em;
}

.post-content h5 {
    color: #323232;
    font-weight: 400;
    font-size: 1.875em;
    line-height: 1.4em;
    margin-top: 0;
}

.controls {
    margin: 3.125em auto;
    text-align: center;
}

.controls li {
    float: none;
    display: inline-block;
}

.controls a {
    font-size: 1.375em;
    font-weight: 300;
    color: blueviolet;
    text-transform: uppercase;
    padding: 0 1.13em;
    line-height: 2.18em;
    display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
    color: white;
    background: blueviolet;
    border-radius: 0.18em;
}

.galery {
    font-size: 0px;
    text-align: center;
}

.galery img {
    width: 33.33%;
}

footer {
    font-size: 0.875em;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow: hidden;
}

footer .menu {
    font-weight: 600;
    margin: 32px 0 32px 0;
    text-transform: uppercase;
    float: right;
}

footer .menu a {
    color: #989898;
}

footer .menu a:hover,
footer .menu a:focus {
    text-decoration: underline;
}

footer li:after {
    content: ' /';
    color: #989898;
    margin: 0 8px;
}

footer li:last-child:after {
    content: '';
}

.footer {
    background: lightgreen;
}

@media (max-width: 1150px) {
    .nav-bar .container {
        padding-right: 0;
    }
    .navigation li:last-child {
        border-right: none;
    }
    .galery img {
        width: 50%;
    }
}

@media (max-width: 605px) {
    .contact-bar {
        font-size: 70%;
    }

    .personal {
        width: auto;
    }

    .personal li {
        float: none;
    }

    .personal li:first-child {
        margin-bottom: 0.5em;
    }

    .date {
        font-size: 1.33em;
    }
}

@media ( max-width: 766px) {
    .galery img {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .galery img {
        width: 100%;
    }
}

.header {
    margin-left: 14%;
    margin-bottom: 3%;
}

.tableUser {
    margin-left: 14%;
}

.button-cl {
    margin-top: 10%;
    margin-bottom: 27%;
    margin-left: 65%;
}

.button-log {
    margin-top: 10%;
    margin-bottom: 56%;
    margin-left: 53%;
}

form, .content {
    width: 40%;
    margin-left: 13%;
}

.group-in {
    margin: 15px 10px 15px 0px;
}

.group-in label {
    display: block;
    text-align: left;
    margin: 7px;
}

.group-in input {
    width: 70%;
    border: 1px solid gray;
}

.btn {
    color: white;
    background: blueviolet;
}

td {
    max-width: 230px;
    overflow: hidden;
    text-overflow: inherit;
}

.card {
    width: 14em;
    height: 37.5em;
}

.card-title {
    text-align: center;
}

.res {
    text-align: center;
    margin-bottom: 1em;
}

.btn_moj {
    background-color: blueviolet;
    color: white;
}

.questions {
    width: 100%;
    padding: 0 10px;
    border: 2px solid blueviolet;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px 0;
}

.answer {
    padding: 0 15px;
    margin-left: 25px;
    overflow: hidden;
    max-height: 0;
    transition: all .3s ease-in;
}